@model InspectorViewModel

<li class="list-group-item flex-row__space-between">
    <div class="alert alert-success" role="alert">Inspector frist name</div>
    <div class="alert alert-light" role="alert">@Model.FirstName</div>
</li>

