@model UserDto

@{
    ViewData["Title"] = "Edit profile";
}

<div class="flex-row__space-between">
    <h5 style="margin: 2vw;">Edit profile</h5>
    <display-current-date></display-current-date>
</div>
<div style="width: 30vw; margin: 3vw;">
    <div class="form-group">
        <form asp-action="EditProfile" asp-controller="Accounts" asp-antiforgery="true">
            <input type="hidden" asp-for="Id" />
            <div>
                <div class="validation" asp-validation-summary="ModelOnly" />
                <div class="flex-column">
                    <div>
                        <label asp-for="UserName"></label>
                        <input class="form-control" type="text" asp-for="UserName" />
                    </div>
                    <span asp-validation-for="UserName" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="FirstName"></label>
                        <input class="form-control" type="text" asp-for="FirstName" />
                    </div>
                    <span asp-validation-for="FirstName" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="Surname"></label>
                        <input class="form-control" type="text" asp-for="Surname" />
                    </div>
                    <span asp-validation-for="Surname" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="Patronic"></label>
                        <input class="form-control" type="text" asp-for="Patronic" />
                    </div>
                    <span asp-validation-for="Patronic" />
                </div>
                <input type="submit" class="btn btn-success" style="margin: 1vw;" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

