@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h5 style="margin: 2vw;">Register</h5>
<div style="width: 30vw; margin: 3vw;">
    <div class="form-group">
        <form asp-action="Register" asp-controller="Accounts" asp-antiforgery="true">
            <div>
                <div class="validation" asp-validation-summary="ModelOnly" />
                <div class="flex-column">
                    <div>
                        <label asp-for="UserName"></label>
                        <input class="form-control" type="text" asp-for="UserName" />
                    </div>
                    <span asp-validation-for="UserName" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="FirstName"></label>
                        <input class="form-control" type="text" asp-for="FirstName" />
                    </div>
                    <span asp-validation-for="FirstName" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="Surname"></label>
                        <input class="form-control" type="text" asp-for="Surname" />
                    </div>
                    <span asp-validation-for="Surname" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="Patronic"></label>
                        <input class="form-control" type="text" asp-for="Patronic" />
                    </div>
                    <span asp-validation-for="Patronic" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="Password"></label>
                        <input class="form-control" type="password" asp-for="Password" />
                    </div>
                    <span asp-validation-for="Password" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="ConfirmPassword"></label>
                        <input class="form-control" type="password" asp-for="ConfirmPassword" />
                    </div>
                    <span asp-validation-for="ConfirmPassword" />
                </div>
                <input type="submit" class="btn btn-success" style="margin: 1vw;" value="Create" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}