@model InspectionViewModel

@{
    ViewData["Title"] = "Create inspection";
}

<h5 style="margin: 2vw;">Create inspection</h5>
<div style="width: 30vw; margin: 3vw;">
    <div class="form-group">
        <form asp-action="CreateInspection" asp-controller="Inspections" asp-antiforgery="true">
            <div>
                <div class="validation" asp-validation-summary="ModelOnly" />
                <div class="flex-column">
                    <div>
                        <label asp-for="Name"></label>
                        <input class="form-control" type="text" asp-for="Name" />
                    </div>
                    <span asp-validation-for="Name" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="Description"></label>
                        <input class="form-control" type="text" asp-for="Description" />
                    </div>
                    <span asp-validation-for="Description" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="Price"></label>
                        <input class="form-control" type="number" value="1" asp-for="Price" />
                    </div>
                    <span asp-validation-for="Price" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="InspectionDate"></label>
                        <input class="form-control" asp-for="InspectionDate" />
                    </div>
                    <span asp-validation-for="InspectionDate" />
                </div>
                @await Component.InvokeAsync("GetInspectors")
                @await Component.InvokeAsync("GetDrivers")
                <input type="submit" class="btn btn-success" style="margin: 1vw;" value="Create" />
            </div>
        </form>
        <form method="get" asp-action="ShowInspections" asp-controller="Inspections" asp-antiforgery="false">
            <input type="submit" class="btn btn-secondary" style="margin: 1vw;" value="Cancel" />
        </form>
    </div>
</div>

