@model WebCarInspection.Models.DriverViewModel

<div>
    <label>Driver first name</label>
    <select name="DriverId" class="form-control" asp-for="FirstName" asp-items="ViewBag.Drivers"></select>
</div>

