@model InspectorViewModel

@{
    ViewData["Title"] = "Update inspector";
}

<div class="flex-row__space-between">
    <h5 style="margin: 2vw;">Update inspector</h5>
    <date></date>
</div>
<div style="width: 30vw; margin: 3vw;">
    <div class="form-group">
        <form asp-action="UpdateInspector" asp-controller="Inspectors" asp-antiforgery="true">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div>
                <div class="validation" asp-validation-summary="ModelOnly" />
                <div class="flex-column">
                    <div>
                        <label asp-for="FirstName"></label>
                        <input class="form-control" type="text" asp-for="FirstName" />
                    </div>
                    <span asp-validation-for="FirstName" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="Surname"></label>
                        <input class="form-control" type="text" asp-for="Surname" />
                    </div>
                    <span asp-validation-for="Surname" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="Patronic"></label>
                        <input class="form-control" type="text" asp-for="Patronic" />
                    </div>
                    <span asp-validation-for="Patronic" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="Phone"></label>
                        <input class="form-control" type="number" asp-for="Phone" />
                    </div>
                    <span asp-validation-for="Phone" />
                </div>
                <div class="flex-column">
                    <div>
                        <label asp-for="PersonalNumber"></label>
                        <input class="form-control" type="number" asp-for="PersonalNumber" />
                    </div>
                    <span asp-validation-for="PersonalNumber" />
                </div>
                <input type="submit" class="btn btn-success" style="margin: 1vw;" value="Save" />
            </div>
        </form>
        <form method="get" asp-action="ShowInspectors" asp-controller="Inspectors" asp-antiforgery="false">
            <input type="submit" class="btn btn-secondary" style="margin: 1vw;" value="Cancel" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


