@model InspectorViewModel

    <div>
        <label>Inspector first name</label>
        <select name="InspectorId" class="form-control" asp-for="FirstName" asp-items="ViewBag.Inspectors"></select>
    </div>
